/*顶部登录*/
.top{width:100%;height:40px;background:#333333;}
.container{width:1226px;height:40px;margin:0 auto;}
.container_l{float: left;overflow: hidden;position: relative;height:40px;width:536px;}
.container_l ul{width:537px;height:40px;}
.container_l ul li{float:left;height:40px;line-height:40px;}
.container_l ul li a{height:13px;padding:0 7px;}
.container a{color:#b0b0b0;border-right:1px solid #393d42;font-size:12px;}
.container a:hover{color:#fff;}
.containe_r{width:205px;height:40px;float:right;}
.containe_r .zhuce{width:69px;height:40px;float:left;overflow:hidden;}
.containe_r .zhuce ul{width:70px;}
.containe_r .zhuce ul li{float:left;line-height:40px;}
.containe_r .zhuce ul li a{padding:0 5px; }
.containe_r .car{width:120px;height:40px;background:#424242;float:left;margin-left:16px;position:relative;}
.containe_r .car img{position: absolute;left:17px;top:14px;}
.containe_r .car a{position: absolute;left:40px;top:0;height:40px;line-height:40px;border:none;}
.containe_r .car:hover{background:#fff;} 
.containe_r .car:hover a{color:#ff7315;}
.containe_r .car .proIn{width:300px;height:90px;background:#fff;position:absolute;top:40px;right:0;display:none;box-shadow:0px 0px 10px #efefef;text-align:center;line-height: 90px;z-index: 10;;}
/*导航栏*/
.nav_box{width:100%;height:100px;position:relative;}
.nav{width:1226px;height:100px;margin:0 auto;}
.mi_logo{background:#ff6700;width:55px;height:55px;text-align:center;line-height: 55px;float:left;margin-top:22px;}
.nav_list{float:left;margin-left:180px;}
.nav_list .pro_list li{float:left;padding:0 10px;line-height:100px;font-size:14px;color:#333333;}
.nav_list .pro_list li a:hover{color:#ff6700;}
.search{width:296px;height:50px;background:#fff;float:right;margin-top:25px;position:relative;}
.search input{border: 1px solid #e0e0e0;outline:none;border-right:none;width:243px;height:48px;float:left;line-height:48px;font-size:20px;}
.search .loupe{width:50px;height:48px;border: 1px solid #e0e0e0;float:left;text-align:center;line-height:48px;}
.search .loupe:hover{background:#ff6700;border:1px solid #ff6700;}
.hotPro{width:160px;height:18px;position:absolute;left:90px;top:16px;}
.hotPro li{float:left;margin:0 5px;height:18px;width:67px;line-height:18px;text-align: center;background:#eeeeee;}
.hotPro li a{color:#757575;font-size:11px;}
.hotPro li:hover{background: #ff6700;}
.hotPro li a:hover{color:#fff;}
.clicked{width:243px;border:1px solid #ff6700;border-top:none;z-index: 10;display:none;position:absolute;top:50px;left:0;background:#fff;}
.clicked li{height:28px;line-height:28px;padding-left:10px;}
.clicked li span{float:right;color:#D1D1D1;margin-right:10px;}
.clicked li:hover{background:#EEEEEE;}
.hidePro{width:100%;height:205px;position:absolute;border-top:1px solid #e#EDEDED;top:100px;left:0;box-shadow: 0px 5px 15px #cfcfcf;display:none;z-index:99;background:#fff;}
.hidePro ul{width:1225px;margin:0 auto;padding-left:30px;}
.hidePro li{float:left;text-align: center;}
.hidePro li span{width:100%;float:left;color:#ff6700;}
.hidePro li .proPic{border-right:1px solid #e0e0e0;margin-top:35px;}
/*轮播图*/
.banner_box{width:100%;height:460px;}
.banner{width:1226px;height:460px;margin:0 auto;position: relative;}
.banner .pic li{position: absolute;left:0;top:0;opacity:0;filter:alpha(opacity:0);}
.banner p{width:30px;height:60px;line-height:60px;text-align:center;font-size:40px;position:absolute;top:50%;margin-top:-30px;color:#b1d0d4;z-index:20;font-family:"宋体";cursor: pointer;}
.banner p:hover{background:#666;color:#fff;}
.preNext{right:0;}
.preLast{left:240px;}
.dot{position:absolute;right:30px;bottom:25px;width:100px;z-index:99;}
.dot ul{width:100px;height:12px;}
.banner .dot ul li{width:10px;height:10px;border:1px solid #757575;background:#757575;border-radius:50%;float:left;margin-right:8px;cursor: pointer;}
.banner .dot ul li.active{background:#fff;border:1px solid #757575;}
.banner_list{width:234px;height:460px;background:rgba(0,0,0,0.6);position: absolute;left:0;top:0;z-index:20;}
.banner_list .list_l{height:420px;font-size:14px;margin-top:20px;}
.banner_list .list_l li{text-indent: 30px;height:42px;line-height:42px;cursor: pointer;}
.banner_list .list_l li:hover{background:#ff6700;}
.banner_list .list_l li a{color:#fff;font-size:14px;}
.banner_list .list_l li span{float:right;margin-right:23px;}
.pro_container{height:459px;border-top:1px solid #ededed;background:#fff;position:absolute;left:234px;top:0;z-index:55;display:none;box-shadow: 5px 5px 5px #ededed;}
.pro_container .list_r{width:250px;}
.list_r{display:block;}
.list_r li{width:224px;height:70px;margin-left:10px;}
.list_r li img{width:40px;height:40px;float:left;line-height:70px;cursor:pointer;}
.list_r li .name{width:100px;height:40px;font-size:12px;color:#000;float:left;margin-right:10px;}
.list_r li .name:hover{color:#ff6700;}
.list_r li .buy{width:58px;height:22px;border:1px solid #ff6700;float:left;color:#ff6700;text-align:center;margin-top:10px;line-height:22px;}
.list_r li .buy:hover{background:#ff6700;color:#fff;}
.list_r li .ul01{width:234px;height:420px;}
.list_r li .ul02{width:702px;height:420px;}
/*广告位*/
.adver_box{width:100%;height:170px;margin-top:15px;}
.adver{width:1226px;height:170px;margin:0 auto;}
.adver .six{width:234px;height:170px;background:#5f5750;position:relative;float:left;}
.six ul{width:195px;height:141px;overflow: hidden;position: absolute;left:15px;top:15px;}
.six li{float:left;height:70px;width:64px;text-align:center;position:relative;border-right:1px solid #665e57;border-bottom: 1px solid #665e57;line-height:90px;}
.six li img{position:absolute;left:20px;top:14px;}
.six li a{color:#cfcdcb;}
.hid1{height:12px;width:12px;background:#5f5750;position:absolute;top:80px;}
.hid2{height:12px;width:12px;background:#5f5750;position:absolute;top:80px;}
.hid1{left:73px;}
.hid2{left:137px;}
.hid3{width:1px;height:170px;background:#5f5750;position:absolute;left:209px;top:0;}
.advPic{float:left;}
.advPic ul li{float:left;width:315px;height:170px;margin-left:15px;}
.advPic ul li:hover{box-shadow: 0px 5px 10px #e0e0e0;}
.advPic ul li img{width:100%;height:100%;}
/*明星单品*/
.starGoods_box{height:438px;width:100%;margin-top:30px;}
.starGoods{width:1226px;height:438px;margin:0 auto;}
.goodsTitle{height:53px;width:1226px;}
.goodsTitle h2{float:left;line-height:53px;}
.btn{width:70px;height:22px;margin-top:20px;float:right;border:1px solid #e0e0e0;border-right:none;}
.btn span{width:34px;height:22px;border-right:1px solid #e0e0e0;display: block;float: left;text-align:center;line-height:22px;font-size:20px;color:#e0e0e4;cursor: pointer;}
.btn span.active{color:#b0b0b5;}
.btn span.color{color:#ffac13;}
.goodsBanner{height:340px;width:1226px;overflow:hidden;position: relative;}
.goodsBanner ul{width:10000px;position:absolute;left:0;top:0;}
.goodsBanner ul li{float:left;width:234px;background:#fafafa;margin-right:15px;text-align: center;padding-bottom:40px;border-top:1px solid #ffac13;}
.goodsBanner ul li h3{margin:25px 0 10px 0;}
.goodsBanner ul li p{color:#b0b0b0;}
.goodsBanner ul li span{margin-top:20px;display: block;color:#ff6709;}
.goodsBanner img{width:160px;height:160px;margin-top:35px;}
/*智能硬件*/
.cat_box{width:100%;height:695px;background:#f5f5f5}
.cat{width:1226px;height:695px;margin:0 auto;background:#f5f5f5;}
.cat_head{width:1226px;height:80px;}
.cat_head h2{float:left;line-height:80px;}
.cat_head_right{float:right;line-height:80px;} 
.cat_head_right ul{margin-top:28px;}
.cat_head_right ul li{float:left;height:24px;line-height:24px;font-size:16px;margin:0 15px;cursor: pointer;}
.cat_head_right ul li span{width:0%;height:2px;background:#ff6700;display:block;margin:0 auto;}
.cat_head_right ul li:hover{color:#ff6700;}
.cat_head_right a{font-size:16px;line-height:80px;}
.cat_head_right a span{display: block;height:18px;width:18px;border-radius:50%;background:#b0b0b0;color:#fff;overflow: hidden;float:right;text-align: center;line-height: 18px;margin-top:31px;margin-left:5px;font-family: "宋体";}
.cat_head_right:hover a{color:#ff6700;}
.cat_head_right:hover a span{background:#ff6700;}
.cat_body{width:1226px;height:615px;}
.body_left{width:235px;height:615px;float:left;}
.body_right{width:991px;height:615px;float:right;}
.body_right ul li{float:left;width:233px;height:260px;padding:20px 0;background:#fff;margin-left:14px;margin-bottom:14px;position: relative;text-align: center;}
.body_right ul .little{width:233px;height:103px;position: relative;}
.body_right ul .little img{width:80px;height:80px;}
.body_right ul .more{width:233px;height:103px;}
.body_right ul .more img{width:50px;height:50px;}
.body_right ul li img{width:160px;height:160px;}
.body_right ul li:hover{box-shadow: 0 5px 5px #e0e0e0;}
.body_right ul li h3{font-weight: normal;margin-bottom: 10px;}
.body_right ul li p{color:#e0e0e0;margin-bottom: 18px;}
.body_right ul li span{color:#ff6700;}
.body_right ul li b{color:#b0b0b0;display: block;margin-top:15px;font-weight: normal;}
/*body部分有两张图*/
.body_left ul{overflow: hidden;}
.body_left ul li{margin-bottom:14px;}
/*为你推荐*/
.tuijian{background:#f5f5f5;margin-top:0;padding-top:30px;}
.tuijian .sss li{background:#fff;}


/*热门产品*/
._hotwrap{padding-bottom: 22px;overflow: hidden;background: #f5f5f5}
._hot{width: 1226px;overflow: hidden;margin: 0 auto;}
._hot_h2{width: 1226px;overflow: hidden;}
._hot_h2 h2{height: 58px;line-height: 58px;}
._hot_nav{width: 1240px;margin-left: -14px;	}
._hot_nav li{float: left;width: 296px;overflow: hidden;margin-left: 14px;padding-bottom: 24px;background: #fff;position: relative;top: 0;transition: 0.3s;}
._hot_nav li:hover{top: -4px;box-shadow: 0 10px 10px #E0E0E0;}
._hot_nav img{width: 296px;height: 220px;margin-bottom: 28px;}
._hot_nav p{height: 72px;margin: 0 28px 22px;font-size: 14px;line-height: 24px;font-weight: 400;overflow: hidden;}
._hot_nav span{display: block;height: 18px;margin: 0 28px 8px;padding: 0 10px 0 0;font-size: 12px;color: #b0b0b0;}
._hot_nav a{margin-left: 28px;font-size: 14px;font-weight: 400;max-width: 170px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;vertical-align: bottom;color: #333;}
._hot_nav em{padding: 0 12px;color: #e0e0e0;}
._hot_nav i{color: #ff6700;font-style: normal;}
._contwrap{height: 478px;background: #F5F5F5;padding-bottom: 22px;}
._cont{width: 1226px;height: 478px;margin: 0 auto;}
._cont_h2{width: 1226px;overflow: hidden;margin: 0 auto;}
._cont_h2 h2{height: 58px;line-height: 58px;}

/*--footer--*/
.footer{width:1226px;height:272px;background:#fff;margin:0 auto;margin:0 18.5px;}
.footer_t{height:80px;overflow:hidden;border-bottom:1px solid #ccc;}
.footer_t ul{height:25px;width:1226px;margin:27px 0;}
.footer_t li{width:244px;height:25px;float:left;text-align:center;line-height:25px;border-right:1px solid #ccc;}
.footer_t li a{width:150px;height:25px;margin:0 auto;display:block;}
.footer_t .none{border:none;}
.footer_t li p:hover{color:#ff7314;}
.footer_t li img{float:left;margin-right:10px;}
.footer_t li p{float:left;color:#616161;font-size:14px;}
.footer_b{height:112px;margin:40px 0;}
.footer_b dl{width:160px;height:112px;float:left;}
.footer_b dl dt{font-weight:bold;margin-bottom:15px;}
.footer_b dl dd{line-height:30px;}
.footer_b dl dd:hover{color:#ff7314;}
.footer_b .footer_b_r{width:265px;height:112px;float:left;border-left:1px solid #ccc;text-align:center;}
.footer_b_r .phone{font-size:16px;color:#ff7314;line-height:30px;}
.footer_b_r a{width:120px;height:30px;border:1px solid #ff7314;display:block;margin-top:19px;margin-left:72px;line-height:30px;color:#ff7314;}
.footer_b_r a:hover{background:#ff7314;color:#fff;}
/*--bottom--*/
.bottom{width:1226px;height:57px;padding:55px 18.5px;background:#fafafa url(../images/logo.jpg) no-repeat 18.5px center;}
.bottom_l{width:710px;height:57px;margin-left:67px;float:left;}
.bottom_l .color{color:#b0b0b0;}
.bottom_l .color a{color:#b0b0b0;}
.bottom_l p a:hover{color:#ff7314;}
.bottom_r{width:375px;height:57px;float:right;}
.bottom_r img{width:90px;height:28px;margin-top:14px;}
.solo{width:267px;height:19px;margin-top:70px;margin-left:470px;font-size:16px;font-family:"楷体"}